@font-face {
    font-family: "Sora-Regular";
    src: url("../assets/fonts/Sora-Regular.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "Sora-Bold";
    src: url("../assets/fonts/Sora-Regular.ttf")format("truetype");
    font-style: normal;
    font-weight: bold;

}